#index-title {
  text-decoration-line: underline;
}

#strongno {
  background: linear-gradient(to right, rgb(212, 58, 8), rgb(231, 85, 38));
  color: white;
  font-size: 60px;
}

#strongno-rev {
  background: rgb(51, 153, 255);
  color: white;
  font-size: 60px;
}

ul[id='great-nav']>li {
  color:black;
}

p {
  text-indent: 2em;
}

/* pc端 */
@media screen and (min-width:900px) {
  article {
    width: 45%;
  }
  #editor {
    width: 65%;
  }
}

/* 平板端 */
@media screen and (min-width:600px) and (max-width:900px) {
  article {
    width: 80%;
  }
}

/* 移动端 */
@media screen and (max-width:600px) {
  article {
    width: auto;
  }
}

/* table 样式 */
table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
table td,
table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* blockquote 样式 */
blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}

/* code 样式 */
code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
pre code {
  display: block;
}

/* ul ol 样式 */
ul, ol {
  margin: 10px 0 10px 20px;
}


/* 写掉css有p用啊！！
还不如直接消失之! */

/* a[href=''] {
  color: black;
  text-decoration: none;
}

a[href='']:hover {
  cursor: default;
} */